<a href="https://colab.research.google.com/github/fanchou99/20241001/blob/main/20241002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20241002筆記

## 複習基本資料型態及容器型別
* int,float,bool,str
* list,tuple,dict,set

### 字串的加法及乘法

In [ ]:
'abc'+'123'

'abc123'

In [ ]:
'abc'*3

'abcabcabc'

In [ ]:
'abc'+123

TypeError: can only concatenate str (not "int") to str

In [ ]:
'abc' + str(123)

'abc123'

In [ ]:
'abc'*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
'abc'*int(3.0)

'abcabcabc'

### 綜合練習

請用for迴圈畫出底下金字塔。

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1,6):
    print(' '*(5-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
  print(' '*(4-i)+'*'*(2*i+1))

    *
   ***
  *****
 *******
*********

### 綜合練習 02

請將上面的程式碼打包成一個函式，輸入一個整數n，劃出高度為n的金字塔。

In [ ]:
def multistar(n):
    for i in range(n):
        print(' '*(n-i)+'*'*(2*i+1))

In [ ]:
multistar(5)

     *
    ***
   *****
  *******
 *********

In [ ]:
multistar(6)

      *
     ***
    *****
   *******
  *********
 ***********

## zerojudge.tw使用簡介

* 如何讀取資料? ==>input()
* 如何印出結果? ==>print()

In [ ]:
input?

In [ ]:
x = int(input('請輸入一個整數:'))

請輸入一個整數:10

In [ ]:
x

10

In [ ]:
print?

In [ ]:
print(1,2,3,4,5)

1 2 3 4 5

In [ ]:
print(1,2,3,4,5,sep='-')

1-2-3-4-5

In [ ]:
print(1,2,3,4,5,sep='-',end='\n') # '\n'代表換行
print('a','b','c','d','e',sep='-')

1-2-3-4-5
a-b-c-d-e

In [ ]:
print(1,2,3,end="+++")
print(4,5,6)

1 2 3+++4 5 6

### 字串的格式化

* python2
* python3
* f-string

In [1]:
# python2字串格式化方法
m = 1
n = 3.14159
print('m=%d,n=%f' %(m,n))

m=1,n=3.141590

In [ ]:
# python3字串格式化方法

m = 1
n = 3.14159
print('m={},n={}'.format(m,n))

m=1,n=3.14159

In [ ]:
# f-string字串格式化方法

m = 1
n = 3.14159
print(f'm={m},n={n}')

m=1,n=3.14159

## python的基礎語法

* 條件式 ==> if statements
* 迴圈 => loops
* 函式 => functions
* 例外處理 => exception handling

### 條件式

In [3]:
m = 3
n = 2

In [ ]:
if m > n :
  print('m is greater than n')

m is greater than n

In [5]:
if m > n:
  print('m is greater than n')
else:
  print('m is less than n')

m is greater than n

In [6]:
if m > n:
  print('m is greater than n')
elif m < n:
  print('m is less than n')
else:
  print('m is equal to n')

m is greater than n

## 迴圈(loops)

* for
* while

#### for loop

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for i in range(3):
  print('程式區塊開始')
  print(i)
  print('程式區塊結束')

程式區塊開始
0
程式區塊結束
程式區塊開始
1
程式區塊結束
程式區塊開始
2
程式區塊結束

In [ ]:
# for縮排錯誤範例
for i in range(3):
  print('程式區塊開始')
  print(i)
print('程式區塊結束')

程式區塊開始
0
程式區塊開始
1
程式區塊開始
2
程式區塊結束

In [ ]:
x = ['aaa','bbb','ccc']

In [ ]:
for i in x:
  print(i)

aaa
bbb
ccc

In [37]:
d = {}
d['a'] = '1'
d['b'] = '2'
d['c'] = '3'

In [ ]:
d

{'a': '1', 'b': '2', 'c': '3'}

In [ ]:
for i in d:
  print(i)

a
b
c

In [ ]:
# 寫一個for迴圈，顯示出 a => 1 , b => 2 , c => 3
# AI 版
for i in d:
  print(f'{i} => {d[i]}')

a => 1
b => 2
c => 3

In [ ]:
# 寫一個for迴圈，顯示出 a => 1 , b => 2 , c => 3
# 老師版
for i in d:
  print(i,'==>', d[i])

a ==> 1
b ==> 2
c ==> 3

In [ ]:
# 寫一個迴圈顯示RGB三原色

coloransi = ['red','green','blue']
for i in coloransi:
  print(i)

red
green
blue

In [ ]:
'a' in d

True

In [ ]:
if 'a' in d:
  print('a is in d')

a is in d

In [38]:
if 'a' in d:
  print(f'a is in d,its value is {d["a"]}')

a is in d,its value is 1

#### 關於字串的引號(' v.s. ")

In [ ]:
s1 = 'my dog'
s2 = "my dog"

In [ ]:
s3 = "my dog's name is Bob"

In [ ]:
s3

"my dog's name is Bob"

In [ ]:
s4 = 'my dog\'s name is Bob'

In [ ]:
s4

"my dog's name is Bob"

#### while loop

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
i = 0
while i < 5:
  print(i)
  i = i + 1 # i += 1

0
1
2
3
4

In [ ]:
# 無限迴圈
while True:
  print('hello world!")

In [ ]:
c = 0
while True :
  print("Hello World!")
  c += 1
  if c > 5:
    break

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [ ]:
# continue ，跳開此次的while迴圈，往下一值的while迴圈執行
i = 0
while i < 5:
  if i == 2: #當i=2時直接再+1，且會因continue而跳開執行print(i)
    i +=1
    continue
  print(i)
  i = i + 1   # i += 1

0
1
3
4

In [ ]:

# 同上，只是將while迴圈改成for迴圈
for i in range(5):
  if i == 2:
    continue
  print(i)

0
1
3
4

### 函式

In [44]:
# 僅印出x**2的值，並未返回值
def square01(x):
  print(x**2)
# return直接返回x**2的值，因沒有變數承接返回值，故於螢幕直接顯示返回值
def square02(x):
  return x**2
# return直接返回x**2的值，因有變數y承接返回值，故不再於螢幕顯示返回值
def square03(x):
  y = x**2

In [45]:
square01(2)

4

In [46]:
square02(2)

4

In [47]:
square03(2)

In [ ]:
x1 = square01(2)

4

In [ ]:
x2 = square02(2)

In [ ]:
x1

In [ ]:
x2

4

In [29]:
K = {}
K['a'] = 1
K['b'] = 2
K['c'] = 3

K

# for i in K:
  # print(i," ==> ",K[i])

{'a': 1, 'b': 2, 'c': 3}

In [32]:
'a' in K

True

### 寫一個迴圈印出四季的名稱

In [18]:
season = ['spring','summer','autumn','winter']
print(season[0])
print(season[1])
print(season[2])
print(season[3])
print(season)
season

spring
summer
autumn
winter
['spring', 'summer', 'autumn', 'winter']

['spring', 'summer', 'autumn', 'winter']

### 寫一個迴圈印出水的三樣態

In [27]:
water = {'type 1':'gas',"type 2":'liquid',"type 3":'ice'}
for i in water:
  print(i,"==>",water[i])

type 1 ==> gas
type 2 ==> liquid
type 3 ==> ice

### 例外處理(Exception handling)

```python
try:
  程式區塊01
except Exception as e:
  程式區塊02
```

In [57]:
def add(a,b):
  print(f"{a} + {b} = {a+b}")

In [58]:
add(1,2)

1 + 2 = 3